<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
  <body>
   <iframe src="<%= url %>" style="width: 90%; height: 600px; border: none" scrolling="auto">
</iframe>
  </body>
</html>