<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
  <body>
  	<h3> <%= dashName %>'s Dashboard</h3>
  	<br/>
   <iframe src="<%= url %>" style="width: 90%; height: 600px; border: dashed;" scrolling="auto">
</iframe>
  </body>
</html>