<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CLM Login</title>
  <link rel='stylesheet' href='/stylesheets/signup.css' />
  <script src="/javascripts/jquery.min.2.2.0.js"></script>
  <script src="/javascripts/signup.js"></script>  
</head>

<body>

  <form action="/signin" method="post">

    <h1>Sign Up</h1>

    <fieldset>
      <label for="name">Name:</label>
      <input type="text" id="name" name="user_name">

      <label for="mail">Email:</label>
      <input type="email" id="mail" name="user_email">
    </fieldset>

    <fieldset>
      <label for="job">Job Role:</label>
      <select id="job" name="user_job">
        	<option value="Member">Team Member</option>
            <option value="Supervisor">Supervisor</option>
        </select>
    </fieldset>
    <button type="submit">Sign In</button>
  </form>

</body>

</html>

