<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
   </head>
  <body>
  	<h2> <%= dashName %>'s Dashboard</h2>
    <br/>
  	
    <div id="container">
   		<iframe src="<%= url %>" name="dashboard" id="dashboard" frameborder="0" marginwidth="0" marginheight="0" scrolling="auto"allowtransparency="false"></iframe>
   	</div>

  </body>
</html>