<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/jquery.min.2.2.0.js"></script>
    <script src="/javascripts/sendemail.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   </head>
  <body>
  	<h2> <%= dashName %>'s Dashboard</h2>
    <div class="email-button">
        <i class="material-icons md-light">email</i>
    </div>
    <input type="hidden" name="userName" id="userName" value="<%= dashName %>">
    <br/>
  	
    <div id="supercontainer">
   		<iframe src="<%= url %>" name="dashboard" id="dashboard" frameborder="0" marginwidth="0" marginheight="0" scrolling="auto"allowtransparency="false"></iframe>
   	</div>

  </body>
</html>